@model SmartMenu.Models.Category.EditCategoryViewModel
@{
    Layout = null;
}

<div class="container-fluid">
    <form asp-action="EditCategory" asp-route-id="@Model.CategoryId" enctype="multipart/form-data" method="post" id="editCategoryForm">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CategoryId)
        <div class="mb-3">
            <div class="mb-4 d-flex justify-content-center">
                <img id="selectedImage" src="@Model.ImageUrl"
                     alt="menu image" style="width: 300px; height: 220px;" />
            </div>
            <div class="d-flex justify-content-center">
                <div class="btn btn-primary btn-rounded">
                    <label asp-for="Image" class="form-label text-white m-1">Choose file</label>
                    <input asp-for="Image" type="file" accept="image/*" class="form-control d-none" onchange="displaySelectedImage(event, 'selectedImage')" />
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <h5>Edit Titles & Descriptions</h5>
        <div class="row">
            @for (int i = 0; i < Model.TitlesAndDescriptions.Count; i++)
            {
                var lang = Model.AvailableLanguages?.FirstOrDefault(l => l.Id == Model.TitlesAndDescriptions[i].LanguageId);
                <div class="col-md-6 col-lg-4 mb-3 mx-3 border rounded p-2">
                    <div class="mb-2">
                        <span class="fw-bold">@lang?.Name</span>
                        @if (lang?.IsRtl == true)
                        {
                            <span class="badge bg-secondary">RTL</span>
                        }
                    </div>
                    <div class="mb-2">
                        <label asp-for="@Model.TitlesAndDescriptions[i].Text" class="form-label">Title</label>
                        <input asp-for="@Model.TitlesAndDescriptions[i].Text" class="form-control" />
                        <span asp-validation-for="@Model.TitlesAndDescriptions[i].Text" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="@Model.TitlesAndDescriptions[i].Description" class="form-label">Description</label>
                        <textarea asp-for="@Model.TitlesAndDescriptions[i].Description" class="form-control"></textarea>
                        <span asp-validation-for="@Model.TitlesAndDescriptions[i].Description" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="@Model.TitlesAndDescriptions[i].LanguageId" />
                </div>
            }
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>


<partial name="_ValidationScriptsPartial" />